/*
essential styles:
these make the slideshow work
*/
/* 
.slides {
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slides__item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}
.active {
    opacity: 1;
    z-index: 2;
} */

/*
non-essential styles:
just for appearance; change whatever you want
*/
/* .slides {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slides__item {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slides__item:nth-of-type(1) {
    background: red;
}
.slides__item:nth-of-type(2) {
    background: orange;
}
.slides__item:nth-of-type(3) {
    background: green;
}
.slides__item:nth-of-type(4) {
    background: blue;
}
.slides__item:nth-of-type(5) {
    background: purple;
}
.indicators {
    display: flex;
    list-style: none;
    padding: 0;
}
.indicators__item,
.controls__item {
    display: inline-block;
    padding: 5px;
    background-color: rgba(51, 51, 51, 0.555);
    color: #fff;
    height: 24px;
    min-width: 24px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}
.indicators__item.active {
background-color: rgb(118, 64, 218);
}
.controls {
    position: relative;
}
.fas,
.far {
    font-size: 24px;
} */